/* Universal Selector */
* {
  color: black;
  /* border: 1px solid red; useful when debug */
}

/* Element Selector (select by types) */
body {
  /* body is the biggest section, also a type */
  background-color: #fbedd7;
}
button {
  /* button is a type */
  font-size: 30px;
}
span {
  color: coral;
  /* select all spans */
}
/* multiple selectors / selector list */
h1,
h2 {
  color: chocolate;
}

/* ID selector (select only one item), don't use */
#signup {
  /* only one thing on one page has 1 unique id */
  background-color: #f1faee;
  color: #1d3537;
}

/* Class Selector (select a group of items), good use*/
.tag {
  /* tag is a class  */
  background-color: #e63946;
  color: #f1faee;
  font-size: 30px;
}

/* coding exercise 9
/* Make all LI's blue */
/* li {
    color: blue;
}
/* Make everything with the class of 'done' grey*/
/* .done {
    color: grey;
}
/* Make the element with the id of 'clear' have a red BG and white text */
/* #clear {
    background-color: red;
    color: white;
/* } */

/* Descendant Selector */
li a {
  /* select all <a>'s that are nested inside an <li> */
  /* note: a == anchor tags, which are links */
  color: teal;
}
span a {
  color: tomato;
}
section span a {
  /* not recommend, should use class */
  color: turquoise;
}

/* coding exercise 10*/
/* header a {
  font-size: 30px;
  color: teal;
}
#dislikes a {
  font-weight: 700;
  color: red;
} */

/* Adjacent Selector (select the one after another) */
input + button {
  background-color: pink;
}
/* if you have more than one matches it will apply to all */
h2 + button {
  /* every button after the h2 */
  font-size: 15px;
}

/* Direct Child Selector (i.e., select one level down)*/
footer > a {
  /* the direct child is not necessary the first child */
  color: #457b9d;
}

/* Attribute Selector */
input[type="password"] {
  color: aliceblue;
}
/* Any other attributes works too: */
section[class="post"] {
  background-color: azure;
}

/* Pseudo Classes (keyword added to a selector that specifies a special state of the selected elements) */
a:hover {
  /* select any <a> element when "hovered */
  color: orange;
}

button:hover {
  background-color: pink;
  color: whitesmoke;
}

/* hovered button in some Class "X", for ex: class "post" */
.post button:hover {
  background-color: #e63946;
  color: #f1faee;
}

.post button:active {
  background-color: turquoise;
  color: #fbedd7;
}

.post:nth-of-type(2n + 1) {
  background-color: rgb(201, 226, 226);
}
/* Coding Exercise 11*/
/* div:nth-of-type(2n) {
  background-color: black;
}
div:nth-of-type(2n+1) {
  background-color: red;
} */

/* Pseudo Elements (select smaller, more specific parts) */
h2::first-letter {
  font-size: 35px;
}
