body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

#container div {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}

#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid blanchedalmond;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;
  /* divs will be condensed if no enough room */
  flex-direction: column-reverse;
  flex-direction: row;
  /* It determines the main axis */
  /* This is the default */

  justify-content: flex-start;
  /* this is the default */
  justify-content: flex-end;
  justify-content: space-between;
  /* spaces are evenly split b/t the elements */
  justify-content: space-around;
  /* gives each element even spaces around them */
  justify-content: space-evenly;
  justify-content: flex-start;
  justify-content: center;

  /* flex-wrap: the items fit in when the space isn't enough*/
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-wrap: nowrap;

  /* justify-content: is along the main axis */
  /* align-items: is along the cross axis */
  align-items: flex-start;
  /* this is the default */
  align-items: flex-end;
  align-items: center;
}

#container div:nth-of-type(3) {
  height: 300px;
}
#container div:nth-of-type(5) {
  height: 400px;
}
#container div:nth-of-type(4) {
  height: 150px;
  font-size: 4em;
}

#container {
  align-items: baseline;
  /* using letters, make letters in a straight line, the div colors follow (not determined by color positions) */
}
