/* Universal Selector */
* {
  color: pink;
  /* border: 1px solid red; useful when debug */
}

/* Element Selector (select by types) */
body {
  /* body is the biggest section, also a type */
  background-color: #fbedd7;
}
button {
  /* button is a type */
  font-size: 30px;
}
span {
  color: coral;
  /* select all spans */
}
/* multiple selectors / selector list */
h1,
h2 {
  color: chocolate;
}

/* ID selector (select only one item), don't use */
#signup {
  /* only one thing on one page has 1 unique id */
  background-color: #f1faee;
  color: #1d3537;
}

/* Class Selector (select a group of items), good use*/
.tag {
  /* tag is a class  */
  background-color: #e63946;
  color: #f1faee;
  font-size: 30px;
}

/* exercise for CSS selectors
/* Make all LI's blue */
/* li {
    color: blue;
}
/* Make everything with the class of 'done' grey*/
/* .done {
    color: grey;
}
/* Make the element with the id of 'clear' have a red BG and white text */
/* #clear {
    background-color: red;
    color: white;
/* } */

/* Descendant Selector */
li a {
  /* select all <a>'s that are nested inside an <li> */
  /* note: a == anchor tags, which are links */
  color: teal;
}
span a {
  color: tomato;
}
section span a {
  /* not recommend, should use class */
  color: turquoise;
}
