body {
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3d405b;
  font-size: 50px;
}

button {
  background: none;
  color: #f2cc8f;
  border: 3px solid;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 700;
  border-radius: 1em;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

button:hover {
  border-color: #e07a5f;
  color: #f4f1de;
  box-shadow: 0.3em 0.5em 0.5em -0.3em #f4f1de;
  cursor: pointer;
}

button:active {
  transform: translateY(0.25em);
  box-shadow: 0.3em 0.5em 0.5em -0.5em #f4f1de;
}
