<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 1+3+5 %></h1>
    <p>
      Chinchillas are clean, quiet and attractive rodents that don't smell. They
      can live for 10-20 years, and they've been bred and farmed for their soft,
      dense fur.
    </p>
    <p>
      While chinchillas prefer not to cuddle, they are still very affectionate
      with their pet parents. They are naturally curious and enjoy being out of
      their chinchilla cages whenever possible—supervised by their pet parent,
      of course!
    </p>
  </body>
</html>
